name: Deploy to ECS

on:
  workflow_call:
    inputs:
      environment:
        description: The environment to plan and apply against
        type: string
        required: true
      app-name:
        description: The app name to push the Docker image to
        type: string
        required: true
      test-flavour:
        description: The flavour of tests to run (e.g. 'tariff', 'fpo', 'none')
        type: string
        default: 'tariff'
        required: false
      build-args:
        description: Additional space-separated build arguments for the Docker image
        type: string
        default: ''
        required: false
      checkout-repo:
        description: The repository to checkout (defaults to current repo)
        type: string
        default: ''
        required: false
      checkout-ref:
        description: The ref to checkout (defaults to current ref)
        type: string
        default: ''
        required: false
      notify:
        description: Whether to send notifications to Slack
        type: boolean
        default: true
        required: false
    secrets:
      ssh-key:
        description: The SSH key to use for accessing github repos (implicitly with terraform init)
        required: true
      slack-webhook:
        description: The Slack webhook URL to send notifications to
        required: true
      basic-password:
        description: The basic auth password
        required: false
      non_admin_bypass_password:
        description: 'Password for non-admin bypass'
        required: false
      admin_bypass_password:
        description: 'Password for admin bypass'
        required: false

jobs:
  configure:
    runs-on: ubuntu-latest
    outputs:
      actual_repo: ${{ steps.actual-ref.outputs.actual_repo }}
      actual_ref: ${{ steps.actual-ref.outputs.actual_ref }}
      docker_tag: ${{ steps.config.outputs.docker_tag }}
      ecr_url: ${{ steps.config.outputs.ecr_url }}
      iam_role_arn: ${{ steps.config.outputs.iam_role_arn }}
      ruby_version: ${{ steps.config.outputs.ruby_version }}
      slack_channel: ${{ steps.config.outputs.slack_channel }}
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.ssh-key }}

      - id: actual-ref
        run: |
          ACTUAL_REPO="${{ inputs.checkout-repo || github.repository }}"

          if [[ -n "${{ inputs.checkout-ref }}" ]]; then
            ACTUAL_REF="${{ inputs.checkout-ref }}"
          elif [[ "$ACTUAL_REPO" == "${{ github.repository }}" ]]; then
            ACTUAL_REF="${{ github.event.pull_request.head.sha || github.sha }}"
          else
            ACTUAL_REF="main"
          fi

          {
            echo "actual_repo=${ACTUAL_REPO}"
            echo "actual_ref=${ACTUAL_REF}"
          } >> "$GITHUB_OUTPUT"

      - uses: actions/checkout@v5
        with:
          repository: ${{ steps.actual-ref.outputs.actual_repo }}
          ref: ${{ steps.actual-ref.outputs.actual_ref }}

      - id: config
        run: |
          case "${{ inputs.environment }}" in
            development)
              ACCOUNT_ID="844815912454"
              SLACK_CHANNEL=deployments
              ;;
            staging)
              ACCOUNT_ID="451934005581"
              SLACK_CHANNEL=deployments
              ;;
            production)
              ACCOUNT_ID="382373577178"
              SLACK_CHANNEL=production-deployments
              ;;
            *)
              echo "Invalid environment: ${{ inputs.environment }}"
              exit 1
              ;;
          esac


          {
            echo "ecr_url=382373577178.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.app-name }}-production"
            echo "iam_role_arn=arn:aws:iam::${ACCOUNT_ID}:role/GithubActions-ECS-Deployments-Role"
            echo "ruby_version=$(cat .ruby-version)"
            echo "slack_channel=${SLACK_CHANNEL}"
            echo "docker_tag=$(git rev-parse --short HEAD)"
          } >> "$GITHUB_OUTPUT"

  build:
    runs-on: ubuntu-latest
    needs: configure
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.ssh-key }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ needs.configure.outputs.actual_repo }}
          ref: ${{ needs.configure.outputs.actual_ref }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/terraform-plan@main
        with:
          environment: ${{ inputs.environment }}
          ref: ${{ needs.configure.outputs.docker_tag }}
          role-to-assume: ${{ needs.configure.outputs.iam_role_arn }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/build-and-push@main
        with:
          build-args: "RUBY_VERSION=${{ needs.configure.outputs.ruby_version }} ALPINE_VERSION=3.22 ${{ inputs.build-args }}"
          ecr-url: ${{ needs.configure.outputs.ecr_url }}
          ref: ${{ needs.configure.outputs.docker_tag }}
          role-to-assume: ${{ needs.configure.outputs.iam_role_arn }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - configure
      - build
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.ssh-key }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ needs.configure.outputs.actual_repo }}
          ref: ${{ needs.configure.outputs.actual_ref }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/terraform-apply@main
        with:
          environment: ${{ inputs.environment }}
          ref: ${{ needs.configure.outputs.docker_tag }}
          role-to-assume: ${{ needs.configure.outputs.iam_role_arn }}

  tag:
    if: ${{ inputs.environment == 'production' }}
    runs-on: ubuntu-latest
    needs:
      - configure
      - deploy
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.ssh-key }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ needs.configure.outputs.actual_repo }}
          ref: ${{ needs.configure.outputs.actual_ref }}
      - uses: trade-tariff/trade-tariff-tools/.github/actions/tag-production@main
        with:
          ecr-url: ${{ needs.configure.outputs.ecr_url }}
          ref: ${{ needs.configure.outputs.docker_tag }}
          role-to-assume: ${{ needs.configure.outputs.iam_role_arn }}

  e2e-test-tariff:
    if: ${{ inputs.test-flavour == 'tariff' }}
    uses: trade-tariff/trade-tariff-tools/.github/workflows/e2e-tests.yml@main
    needs: deploy
    with:
      test-environment: ${{ inputs.environment }}
    secrets:
      basic_password: ${{ secrets.basic-password }}

  e2e-test-fpo:
    if: ${{ inputs.test-flavour == 'fpo' }}
    uses: trade-tariff/trade-tariff-tools/.github/workflows/e2e-fpo-tests.yml@main
    needs: deploy
    with:
      test-environment: ${{ inputs.environment }}
    secrets:
      non_admin_bypass_password: ${{ secrets.non_admin_bypass_password }}
      admin_bypass_password: ${{ secrets.admin_bypass_password }}

  notify:
    if: ${{ always() && inputs.notify }}
    runs-on: ubuntu-latest
    needs:
      - configure
      - deploy
      - e2e-test-tariff
      - e2e-test-fpo
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/setup-ssh@main
        with:
          ssh-key: ${{ secrets.ssh-key }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ needs.configure.outputs.actual_repo }}
          ref: ${{ needs.configure.outputs.actual_ref }}
      - id: result
        run: |
          TEST_FLAVOUR="${{ inputs.test-flavour }}"

          if [[ "$TEST_FLAVOUR" == "tariff" ]]; then
            echo "result=${{ needs.e2e-test-tariff.result }}" >> "$GITHUB_OUTPUT"
          elif [[ "$TEST_FLAVOUR" == "fpo" ]]; then
            echo "result=${{ needs.e2e-test-fpo.result }}" >> "$GITHUB_OUTPUT"
          else
            echo "result=${{ needs.deploy.result }}" >> "$GITHUB_OUTPUT"
          fi
      - uses: trade-tariff/trade-tariff-tools/.github/actions/slack-notify@main
        with:
          result: ${{ steps.result.outputs.result }}
          slack_webhook: ${{ secrets.slack-webhook }}
          slack_channel: ${{ needs.configure.outputs.slack_channel }}
      - run: if [[ "${{ steps.result.outputs.result }}" != "success" ]]; then exit 1; fi
