name: e2e-tests
on:
  workflow_call:
    inputs:
      test-url:
        description: 'The URL to run the E2E tests against'
        required: true
        type: string
      admin-test-url:
        description: 'The admin URL to run the E2E tests against'
        required: false
        type: string
        default: 'https://admin.dev.trade-tariff.service.gov.uk'
      ref:
        description: 'The e2e-test repo reference to run with'
        type: string
        default: 'main'
  workflow_dispatch:
    inputs:
      test-url:
        description: 'The URL to run the E2E tests against'
        required: true
        type: string
      admin-test-url:
        description: 'The admin URL to run the E2E tests against'
        required: false
        type: string
        default: 'https://admin.dev.trade-tariff.service.gov.uk'
      ref:
        description: 'The e2e-test repo reference to run with'
        required: true
        type: string
        default: 'main'

jobs:
  test:
    environment: development
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: trade-tariff/trade-tariff-e2e-tests
        ref: ${{ github.event.inputs.ref }}
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - run: npm install -g yarn && yarn
    - run: yarn playwright install --with-deps chromium
    - run: yarn run test
      env:
        ADMIN_URL: ${{ inputs.admin-test-url || github.event.inputs.admin-test-url }}
        BASE_URL: ${{ inputs.test-url || github.event.inputs.test-url }}
        BASIC_PASSWORD: ${{ secrets.BASIC_PASSWORD }}
        CI: true
