name: e2e-tests

on:
  workflow_call:
    inputs:
      test-url:
        description: 'The URL to run the E2E tests against'
        required: true
        type: string
      admin-test-url:
        description: 'The admin URL to run the E2E tests against'
        required: false
        type: string
        default: 'https://admin.dev.trade-tariff.service.gov.uk'
      ref:
        description: 'The e2e-test repo reference to run with'
        type: string
        default: 'main'
      basic-password:
        description: 'The basic auth password'
        required: false
        type: string
    secrets:
      basic_password:
        description: 'The basic auth password'
        required: true
  workflow_dispatch:
    inputs:
      test-url:
        description: 'The URL to run the E2E tests against'
        required: true
        type: string
      admin-test-url:
        description: 'The admin URL to run the E2E tests against'
        required: false
        type: string
        default: 'https://admin.dev.trade-tariff.service.gov.uk'
      ref:
        description: 'The e2e-test repo reference to run with'
        type: string
        default: 'main'
      basic-password:
        description: 'The basic auth password'
        required: false
        type: string

jobs:
  test:
    environment: development
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Set environment variables
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "ADMIN_URL=${{ github.event.inputs.admin-test-url }}" >> $GITHUB_ENV
            echo "BASE_URL=${{ github.event.inputs.test-url }}" >> $GITHUB_ENV
            echo "REF=${{ github.event.inputs.ref }}" >> $GITHUB_ENV
            echo "BASIC_PASSWORD=${{ secrets.BASIC_PASSWORD }}" >> $GITHUB_ENV
          else
            echo "ADMIN_URL=${{ inputs.admin-test-url }}" >> $GITHUB_ENV
            echo "BASE_URL=${{ inputs.test-url }}" >> $GITHUB_ENV
            echo "REF=${{ inputs.ref }}" >> $GITHUB_ENV
            echo "BASIC_PASSWORD=${{ secrets.BASIC_PASSWORD }}" >> $GITHUB_ENV
          fi
      - uses: actions/checkout@v4
        with:
          repository: trade-tariff/trade-tariff-e2e-tests
          ref: ${{ env.REF }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: npm install -g yarn && yarn
      - run: yarn playwright install --with-deps chromium
      - run: yarn run test
        env:
          ADMIN_URL: ${{ env.ADMIN_URL }}
          BASE_URL: ${{ env.BASE_URL }}
          BASIC_PASSWORD: ${{ env.BASIC_PASSWORD }}
          CI: true
