name: e2e-fpo-tests

on:
  workflow_call:
    inputs:
      test-environment:
        description: 'The e2e-test environment to run against'
        type: string
        default: 'development'
      ref:
        description: 'The e2e-test repo reference to run with'
        type: string
        default: 'main'
      region:
        description: 'AWS region to use when assuming IAM role'
        type: string
        default: 'eu-west-2'
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: trade-tariff/trade-tariff-fpo-dev-hub-e2e
          ref: ${{ inputs.ref }}

      - uses: actions/setup-node@v5
        with:
          cache: 'yarn'

      - run: yarn

      - run: yarn playwright install --with-deps chromium

      - run: |
          {
            case "${{ inputs.test-environment }}" in
              development)
                ACCOUNT_ID="844815912454"
                ;;
              staging)
                ACCOUNT_ID="451934005581"
                ;;
              *)
                ACCOUNT_ID=""
                ;;
            esac
            echo "ROLE_TO_ASSUME=arn:aws:iam::${ACCOUNT_ID}:role/GithubActions-E2E-Testing-Role"
          } >> "$GITHUB_ENV"


      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
          aws-region: ${{ inputs.region }}
        if: ${{ inputs['test-environment'] == 'development' || inputs['test-environment'] == 'staging' }}

      - run: yarn run test
        env:
          PLAYWRIGHT_ENV: ${{ inputs.test-environment }}
          CI: true
