name: Start Staging Services

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  start-services:
    runs-on: ubuntu-latest
    steps:
      - uses: trade-tariff/trade-tariff-tools/.github/actions/start-services@main
        with:
          service-names: backend-uk backend-xi worker-uk worker-xi backend-job admin frontend identity dev-hub tea
          environment: staging
